.text() {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.get-more {
  padding-left: 20px;
  text-align: center;
}

.get-more__show-all {
  .text;
  width: 280px;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .get-more__show-all {
    width: 250px;
  }
}

@media (min-width: @desktop-width) {
  .get-more__show-all {
    width: 170px;
  }
}

.get-more__challange {
  .text;
  padding-top: 70px;
  margin-bottom: 0;
  color: black;
}

.get-more__promise {
  font-family: "Arial Regular", sans-serif;
  font-size: 12px;
  color: black;
}
