.text() {
  color: white;
  text-transform: uppercase;
  font-family: "Oswald Regular", sans-serif;
}

.intro {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .intro {
    background-image: none;
    text-align: left;
  }
}

.intro__site-name {
  font-size: 36px;
  color: white;
  font-family: "Oswald Regular", sans-serif;
  line-height: 40px;
  margin-bottom: unset;
  padding-top: 25px;
}

@media (min-width: @tablet-width) {
  .intro__site-name {
    font-size: 60px;
    color: black;
    padding-left: 120px;
    padding-right: 120px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .intro__site-name {
    padding-top: 120px;
  }
}

.intro__slogan {
  .text;
  font-size: 14px;
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .intro__slogan {
    color: black;
    font-size: 20px;
    padding-left: 120px;
    padding-top: 15px;
  }
}

.intro__pick-programm {
  .text;
  background-color: #68b738;
  width: 280px;
  height: 40px;
  border: none;
}

@media (min-width: @tablet-width) {
  .intro__pick-programm {
    width: 246px;
    height: 54px;
    margin-left: 120px;
    font-size: 20px;
  }
}

@media (min-width: @tablet-width) {
  .intro__our-product {
    display: none;
  }
}
