.page-main__headline {
  font-family: "Oswald Regular", sans-serif;
  font-size: 36px;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .page-main__headline {
    font-size: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__headline {
    font-size: 60px;
    padding-left: 110px;
  }
}

@media (min-width: @tablet-width) {
  .page-main hr {
    visibility: hidden;
  }
}
